.main-shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    background-color: darkcyan;
}
.buying-part{
    background-color:darkseagreen;
    position: sticky;
    top:0;
}
.cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;

}
@media  screen and (max-width:688px) {
    .cart{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media  screen and (max-width: 1280px) {
    .cart{
        grid-template-columns: repeat(3, 1fr);
    }
}